# Default ignored files
/../../../../../../../../../../../..//Users/LZX/PycharmProjects/pythonProject/.idea/shelf/
/../../../../../../../../../../../..//Users/LZX/PycharmProjects/pythonProject/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../../../..//Users/LZX/PycharmProjects/pythonProject/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../../../..//Users/LZX/PycharmProjects/pythonProject/.idea/dataSources/
/../../../../../../../../../../../..//Users/LZX/PycharmProjects/pythonProject/.idea/dataSources.local.xml
